<table class="table">
  <thead>
    <tr>
      <th scope="col">NO:</th>
      <th scope="col">E-mail</th>
      <th scope="col">PASSWORD</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>personal e-mail id's</td>
      <td>personal password</td>
    </tr>
  </tbody>
</table>