<div class="container">
    <form class="form-1" action="/admin/admin-log" method="post"  id="admin">
        <h1>Admin Login</h1>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" />
        <div class="valid">{{message1}}</div>
        <label for="password">Password</label>
        <input type="text" name="password" id="password" />
        <div class="valid">{{message2}}{{info}}</div>
         <div class="error"></div>
        <button  id="submit"  type="submit">Login</button>
    </form>
</div>