<h1 style="display: flex; justify-content:center; background-color:rgb(107, 209, 107); color:rgb(243, 6, 6)">ADMIN PAGE</h1>
<div class="add-user">
  <a href="/admin/adduser" class="add-btn" >ADD USER</a>
  <form action="/admin/search" method="post">
     <input type="text" name="search" id="search" autocomplete="off">
     <input type="submit" value="Search" class="btn-srch">
  </form>
</div>



<table class="table">
    <tr>
      <th scope="col">E-mail</th>
      <th scope="col">PASSWORD</th>
      <th scope="col">Action</th>

    </tr>
     {{#each users}}
      <tr>
        <td>{{Email}}</td>
        <td>{{password}}</td>
        <td> 
          <a class="btn-update" href="/admin/update/{{_id}}" style="color: green;">update</a>&nbsp;
          <a class="btn-delete" href="/admin/delete/{{_id}}" style="color: red;">delete</a>
        </td>
      </tr>
     {{/each}}
</table>