<table class="table">
    <tr>
      <th scope="col">E-mail</th>
      <th scope="col">PASSWORD</th>
      <th scope="col">Action</th>

    </tr>
     {{#each users}}
      <tr>
        <td>{{Email}}</td>
        <td>{{password}}</td>
        <td> 
          <a class="btn-update" href="/admin/update/{{_id}}" style="color: green;">update</a>&nbsp;
          <a class="btn-delete" href="/admin/delete/{{_id}}" style="color: red;">delete</a>
        </td>
      </tr>
     {{/each}}
</table>