<div class="container">
    <form class="form-1" action="/save" method="post">
        <h1>Sign Up</h1>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" />
        <div class="valid">{{message1}}</div>

        <label for="password">Password</label>
        <input type="text" name="password" id="password" />

        <label for="password">Password</label>
        <input type="text" name="password1" id="password1" />

        <div class="valid">{{message2}}{{errMessage}}</div>

        <span><a href="/">log in</a></span>
        <div class="error"></div>

        <button id="submit" type="submit">Sign Up</button>

    </form>
</div>
