<div class="container">
    <form class="form-1">
        <h1>Login</h1>
        <label for="email">Email</label>
        <div>{{head}}</div>
        <input type="text" name="email" id="email" />
        <div class="valid">{{message1}}</div>
        <label for="password">Password</label>
        <input type="text" name="password" id="password" />
        <div class="valid">{{message2}}</div>
         <div class="error"></div>

        <span><a>Forgot Password</a>&nbsp; . &nbsp;<a href="/signup">Sign Up</a></span>
        <button  id="submit"  type="submit">Login</button>
    </form>
</div>